.App {
   min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* justify-content: center; */
}

.App2 {
   min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
   position: absolute;
  right: 10%;
  top: 15%;
}
.App-header {
 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
 
} 

.App-link {
  color: #61dafb;
}
 #container{width: 30%;
                    margin: 0 2%;
                  border: 3px solid rgb(125, 147, 190)  ;
                  border-top:  15px groove rgb(125, 147, 190);
                  padding:25px;}

                  #video {
                    width: 70%;
                  }

html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(60deg, #A683E3 60%, #E4E9FD 40%);
  min-height: 1000px;
  
}

        h1 {color:#206a5d;
        font-size:2.8em;
        text-shadow:2px 2px #f00;}
         h2 {color:#09312a;
        font-size:1.6rem;
        }

   .subtitle2{
     position: relative;
     margin-top: -23%;
     /* margin-left: -5%; */
   }     
       table{font-size:x-large;}
        
        thead{color:rgb(219, 28, 89);
        }
        
        td{color:rgb(21, 117, 104);}
        
        p {background:rgb(192, 128, 189);}
        .steps {width:90%;}

        #cookies, #cookiesB{
        position: relative;
        top:-160px;
        left:280px;
        z-index:10;
        float:left;}      

       
  #container{width: 30%;
                    
    border: 3px solid rgb(125, 147, 190)  ;
    border-top:  15px groove rgb(125, 147, 190);
    padding:25px;}

  .date{
    font-size: 1.3rem;
    color: #61dafb;
  } 
  #RecipeA, #RecipeA2{
    position: relative;
    margin-top: -3%;
       color: rgb(92, 40, 4);
       
  }  
  #RecipeB,
  #RecipeB2 {
    position: relative;
    margin-top: -3%;
       color: chocolate;
  }

  @media only screen and (max-width:1200px) {
     #cookies, #cookiesB{
        position: relative;
        top:-220px;
        left:130px;
        z-index:10;
        float:left;} 
  }
  

